<div class="record" data-key="{{monster_item_id}}">
    <h2>{{item_name}}</h2>
    <div class="record-drop-image">
        <img src={{item_image}}>
    </div>
    <div class="record-drop-typechance">
        <div class="drop-type"><h4>Type: {{item_type}}</h4></div>
        <div class="drop-chance"><h4>Chance: {{monster_item_chance}}%</h4></div>
    </div>
    <div class="record-drop-healthmana">
        <div class="drop-health"><h4>Health: {{item_health}}</h4></div>
        <div class="drop-mana"><h4>Mana: {{item_mana}}</h4></div>
    </div>
    <div class="record-drop-talants">
        <div class="drop-power"><h4>Power: {{item_power}}</h4></div>
        <div class="drop-speed"><h4>Speed: {{item_speed}}</h4></div>
        <div class="drop-mind"><h4>Mind: {{item_mind}}</h4></div>
    </div>
</div>
