<div class="record" data-key="{{character_item_id}}" onclick="window.location.href = '/checkitem?login={{login}}&character={{character}}&item={{character_item_id}}'">
    <h2>{{item_name}}</h2>
    <div class="record-item-image">
        <img src={{item_image}}>
    </div>
    <div class="record-item-type">
        <div class="item-type"><h4>Type: {{item_type}}</h4></div>
    </div>
    <div class="record-item-healthmana">
        <div class="item-health"><h4>Health: {{item_health}}</h4></div>
        <div class="item-mana"><h4>Mana: {{item_mana}}</h4></div>
    </div>
    <div class="record-item-talants">
        <div class="item-power"><h4>Power: {{item_power}}</h4></div>
        <div class="item-speed"><h4>Speed: {{item_speed}}</h4></div>
        <div class="item-mind"><h4>Mind: {{item_mind}}</h4></div>
    </div>
</div>
