<div class="record" data-key="{{npc_id}}">
    <h2>{{npc_name}}</h2>
    <div class="record-npc-image">
        <img src={{npc_image}}>
    </div>
    <div class="record-npc-info">
        <div class="npc-race"><h4>Race: {{race_name}}</h4></div>
        <div class="npc-prof"><h4>Profession: {{npc_prof}}</h4></div>
        <div class="npc-location"><h4>Location: {{location_name}}</h4></div>
    </div>
    <div class="record-npc-levelexp">
        <div class="npc-level"><h4>Level: {{npc_level}}</h4></div>
    </div>
</div>
