<div class="record" data-key="{{skill_id}}">
    <h2>{{skill_name}}</h2>
    <div class="record-skill-image">
        <img src={{skill_image}}>
    </div>
    <div class="record-skill-raceclass">
        <div class="skill-race"><h4>Race: {{race_name}}</h4></div>
        <div class="skill-class"><h4>Class: {{class_name}}</h4></div>
    </div>
    <div class="record-skill-typelevel">
        <div class="skill-type"><h4>Type: {{skill_type}}</h4></div>
        <div class="skill-level"><h4>Level: {{skill_level}}</h4></div>
    </div>
    <div class="record-skill-healthmana">
        <div class="skill-health"><h4>Health: {{skill_health}}</h4></div>
        <div class="skill-mana"><h4>Mana: {{skill_mana}}</h4></div>
    </div>
</div>
