<div class="record" data-key="{{skill_id}}">
    <h2>{{skill_name}}</h2>
    <div class="record-spell-image">
        <img src={{skill_image}}>
    </div>
    <div class="record-spell-raceclass">
        <div class="spell-race"><h4>Race: {{race_name}}</h4></div>
        <div class="spell-class"><h4>Class: {{class_name}}</h4></div>
    </div>
    <div class="record-spell-typelevel">
        <div class="spell-type"><h4>Type: {{skill_type}}</h4></div>
        <div class="spell-level"><h4>Level: {{skill_level}}</h4></div>
    </div>
    <div class="record-spell-healthmana">
        <div class="spell-health"><h4>Health: {{skill_health}}</h4></div>
        <div class="spell-mana"><h4>Mana: {{skill_mana}}</h4></div>
    </div>
</div>
