<div class="skill-tab">
    <button class="order" onclick="orderSpell('{{order}}')">Order by name ({{order}})</button>
    <input class="text" name="text"></input>
    <button class="search" onclick="searchSpell()">Search</button>
</div>
<div class="container">
    <div class="block">
        {{#each spells}}
            {{>spell login=../login character=../character location=../location monster=../monster}}
        {{/each}}
    </div>
</div>
<div class="spell-box">
    <button class="back" onclick="window.location.href = '/checkmonster?login={{login}}&character={{character}}&location={{location}}&monster={{monster}}'">Back to monster</button>
    <button class="logout" onclick="window.location.href = '/logout'">Logout</button>
</div>

<script>
    async function orderSpell(order) {
        await fetch(`/orderspell?login={{login}}&character={{character}}&location={{location}}&monster={{monster}}`, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({order: order})
            }).then(() => window.location.href = `/spell?login={{login}}&character={{character}}&location={{location}}&monster={{monster}}`);
    }

    async function searchSpell() {
        await fetch(`/searchspell?login={{login}}&character={{character}}&location={{location}}&monster={{monster}}`, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({like: document.getElementsByName('text')[0].value})
            }).then(() => window.location.href = `/spell?login={{login}}&character={{character}}&location={{location}}&monster={{monster}}`);
    }
</script>